body,
html {
    height: 100%;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.bg {
    background-image: url(./eel2.webp);
    background-position: left;
    background-repeat: repeat-y;
    background-size: cover;
}

body {
    width: 100%;
    overflow: scroll;
    margin: 0px;
    font-size: 200%;
    font-family: monospace;
}

#eels {
    position: absolute;
    z-index: 1;
}

.new-yorker-title {
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1rem;
    display: flex;
    align-items: baseline;
}

.new-yorker-title h2 {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: gray;
}

a:hover img {
    filter: brightness(80%)
}

.external-content {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* column-gap: 3vw; */
    position: relative;
    /* max-width: 1280px; */
}

@keyframes fadein {
    0%   { opacity: 0; }
    35%  { opacity: 0; }
    55%  { opacity: 1; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
}

.external-content>div {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 460px;
}

#new-yorker {
    background-color: antiquewhite;
    animation: fadein 12s infinite;
    animation-delay: 2s;
    opacity: 0;
}

#new-yorker img {
    width: 100%;
}

.youtube img {
    width: 100%;
}

.youtube {
    animation: fadein 12s infinite;
    opacity: 0;
}

#youtube1 {
    animation-delay: 4s;
}

#youtube2 {
    animation-delay: 6s;
}

@media (max-width: 1280px) {
    .external-content {
        flex-direction: column;
        column-gap: 0;
    }
}

@media (min-width: 601px) and (min-height: 600px) {
    .external-content {
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(0, -50%); */
        /* margin: auto; */
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    /* #youtube {
        flex-direction: column;
    } */
}

@media (min-width: 601px) {
    #new-yorker {
        border-radius: 25px;
        overflow: hidden;
    }
    /* #youtube iframe {
        min-height: 315px;
    } */
    #eels {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    #eels {
        margin: 1vw;
    }
    .external-content {
        position: relative;
        row-gap: 1rem;
    }
    .external-content>div {
        min-width: 0;
        padding: 0;
    }
    /* #youtube iframe {
        min-height: 56vw;
    } */
    .new-yorker-title {
        flex-direction: column;
        margin: 5vw;
    }
    .new-yorker-title h2 {
        margin: 0;
        font-size: 7vw;
    }
}

button {
    top: 50px;
    position: relative;
}

.hidden {
    display: none;
}

.audio {
    display: none;
}


/* .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40vh;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: calc(4*1vw);
    font-weight: 600;
    letter-spacing: calc(1vw);
    perspective: 20vh;
    text-align: justify;
} */


/* .crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
    animation-iteration-count: 999999;
} */


/* .crawl>.title {
    font-size: 90%;
    text-align: center;
}

.crawl>.title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
} */


/* @keyframes crawl {
    0% {
        top: -10vh;
        transform: rotateX(20deg) translateZ(0);
        color: #5a48fe46;
    }
    100% {
        top: -800vh;
        transform: rotateX(25deg) translateZ(-250vh);
        color: #fe4a4a;
    }
} */


/* @media screen and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
} */